body{
    background-color: rgb(204, 139, 239);
    max-width: 900px;
    margin: auto;
}

.minha_img{
    margin-bottom: 15px;
    width: 25%;
}



.subtitle{
    color: rgb(7, 7, 60);
    font-style: italic;
    padding: 0px;
}

#title, .post_title{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    padding: 0px;
}

.info{
    background-color: rgb(165, 116, 211);
    padding: 15 px 10px 5px 0;
    border: 3px solid #000;
    margin: 10px;
    border-radius: 5px;
    padding: 0px;

}

.lista_comp{
    padding-left: 15px;
}
